.footer{
    margin-top:20px;
}
.service {
    height: 44px;
    padding-top: 18px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.qi{
    width:244px;
    height:28px;
    font-size:14px;
    border-right:1px solid #ccc;
    display: list-item;
    text-align:center;
    line-height:28px;
}
.icon{
    display: inline-block;
    width: 30px;
    height: 28px;
    vertical-align: middle;
    background:url(../img/service_icon.png) no-repeat;
}
.icon2{
    background-position: 0px -30px;
}
.icon3{
    background-position: 0px -58px;
}
.icon4{
    background-position: 0px -91px;
}
.icon5{
    background-position: 0px -122px;
}
.helper{
    padding-top:60px;
    padding-bottom:80px;
}
.content-title{
    margin-bottom:15px;
}
.content-title>a{
    font-size: 16px;
    color: #2d2d2d;
    line-height: 24px;
}
.content-item>a{
    line-height: 24px;
    font-size: 14px;
    color: #646464;
}
.footer-info {
    background-color: #fff;
    padding-top: 20px;
}
.clearfix{
    clear: both;
}
.theme-footer>p{
    line-height: 24px;
    font-size: 14px;
    color: #646464;
}
.theme-footer>p>a{
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
.theme-footer>div>a{
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
li {
    float: left;
    padding: 0 10px;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
}