/*页头样式*/
.topbar{
    background-color: #404040;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: "\0020";
    clear: both;
}
.page{
    width:1226px;
    margin:0 auto;
}
.fast-bar {
    overflow: visible;
    height: 40px;
    line-height: 40px;
    max-width: 750px;
}
.link{
    font-size: 14px;
    color: #b2b2b2;
    display: inline-block;
    margin: 0 10px;
}
.login-bar {
    float: right;
    color: #b2b2b2;
}
.minicart{
    line-height: 39px;
    position: relative;
    z-index: 3;
    min-width: 120px;
    background-color: #4c4c4c;
}
.minicart-text {
    padding-left: 35px;
}
.cart_icon{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 6px;
    top: 7px;
    background:url(../img/tubiao1.png) no-repeat;
}
li {
    float: left;
    padding: 0 10px;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
}
/*页头第二栏样式*/
.header-main {
    padding-top: 23px;
    background-color: #fff;
    position: relative; 
    height:77px;
}
.header-left {
    float: left;
    width: 234px;
    overflow: hidden;
}
.nav{
    height:57px;
    float: left;
    padding:10px 0;
    width:570px;
}
.nav>div>ul>li>a{
    padding:14px 20px 37px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.search{
    float: right;
}
.btn{
    padding:0px;
    right:2px;
}
/*a标签悬停样式*/
a:hover{
    color: aliceblue;
}


