.ydm_top{
    background:#eaeaea;
    height:48px;
    line-height: 48px;
}
.ydm_a_top{
    color:#4d4d4d;
    font-size:14px;
    margin-right:50px;
}
.header_top{
    padding:20px 0px;   
    width:100%;
}
.carousel{
    position: relative;
    cursor: pointer;
}
/*箭头*/
.arrows{
    width:30px;
    height:30px;
    border-bottom:3px solid #2e7ff8;
    border-left:3px solid #2e7ff8;
    transform: rotate(45deg);
    position: absolute;
    top:48%;
}
.arrows_left{
    left:10px;
}
.arrows_right{
    transform: rotate(225deg);
    right:10px;
}
/*小标题*/
.subHeader{
    padding:14px 0px 20px 0px;
}
.subHeader .title{
    background:url(../img/tubiao4.png) no-repeat left;
    padding-left:20px;
}
.subHeader .title span{
    font-size:16px;
    color:#666;
    font-weight:700;
}
/*产品类型*/
.categorys{
    padding-bottom:20px;
}
.item{
    float: left;
    margin-right:12px;
}
.item img{
    width:182px;
    border:4px solid #fff;
}
/*回收利用*/
.recycle{
    padding:20px 0px;
    text-align:center;
}
.box{
    width:440px;
    margin:0 auto;
    margin-top:-20px;
}
.text{
    height:38px;
    font-size:20px;
    line-height:38px;
    color:#666;
}
.btn_recycle{
    display: inline-block;
    width:240px;
    height:50px;
    line-height:50px;
    font-size:20px;
    color:#fff;
    background-color:#c80000;
    border-radius:3px;
}
/*操作流程*/
.flows{
    padding-bottom:20px;
}
.flows>ul{
    width:960px;
    padding:30px 0;
    margin:0 auto;
}
.flows>ul>li{
    float:left;
    margin:10px 0;
    text-align:center;
    width:120px;
}
.flows>ul>li>div>img{
    width:86px;
}
.flows>ul>li>.num{
    font-size:18px;
    font-style:italic;
    color:#c80000;
    font-weight: bold;
}
.flows>ul>li>.text{
    font-size:14px;
    padding-top:25px;
    line-height:18px;
}
.flows>ul>.item>.guide{
    float:left;
    background:url(../img/recycle/flow-arrow.png) no-repeat;
    width:80px;
    height:20px;
    margin-top:40px;
}
/*回收商品*/
.shopping>.item{
   float:left;
    width:200px;
    background: #fff;
    overflow: hidden;
    margin:0 0 15px 15px;
    padding:10px;
    text-align:center;
    height:270px;
    border:1px solid #efefef;
}
.shopping>.item:hover{
    border:1px solid #c80000;
}
.shopping_name{
    font-size:14px;
    color:#323333;
}
.img>img{
    width:160px;
    height:160px;
}
.shopping_btn{
    width:100px;
    height:35px;
    margin:0 auto;
    margin-top:20px;
    line-height:35px;
    color:#fff;
    font-size:13px;
    background-color:#c80000;
    border-radius:30px 30px;
}
/**/
.text_left{
    float:left;
}
.text_left>.text{
    display: flex;
    height:80px;
    line-height: 80px;
    padding-top:20px;
}
.text_left>.text>div{
    font-size:28px;
}
.join{
    padding:20px 0 40px 0;
    font-size:30px;
    font-weight: 700;
    color:#666;
}
.text_right{
    float:right;
    padding:20px 80px;
}
.text_right>.text{
    font-size:28px;
}
.text_right>p{
    font-size:20px;
    padding:20px 0 0 0;
}
/*服务保障*/
.servers{
    padding-bottom:30px;
}
.servers>.items{
    width:800px;
    margin:0 auto;
    padding:30px 0;
}
.servers>.items>.item{
    width:200px;
    text-align:center;
    margin:0px;
}
.servers>.items>.item>img{
    width:64px;
    text-align:center;
}
.servers>.items>.item>p{
    font-size:14px;
    padding-bottom:50px;
}
/*常见问题*/
.issue ul{
    width:1100px;
    margin:0 auto;
}
span{
    font-size:16px;
    font-weight: bolder;
    color:#666;
    margin-right:12px;
}
dt{
    color:#222222;
    font-size:16px;
    padding:25px 10px 5px 10px;
    line-height: 25px;
    font-weight: bolder
}
dd{
    color:#444444;
    font-size:14px;
    padding:0px 10px 0px 10px;
    line-height: 25px;
}
.neibian{
    padding-left:38px;
}

